.app-header {
    background-color: lighten($clr1, $amount: 15%);
    color: $clr2;
    font-weight: 600;

    section.container {
        display: flex;
        align-items: center;

        h3 {
            flex-grow: 1;
        }

        nav {
            >a:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}