@font-face {
    font-family: 'Lato', sans-serif;
    ;
    src: url(../../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-bold', sans-serif;
    ;
    src: url(../../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    ;
    src: url(../../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-bold', sans-serif;
    ;
    src: url(../../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf);
}